<!-- infos zone -->

<!-- Small devices section -->
<div class="col-sm-12 d-lg-none bg-light" id="tenant-page-left-sm">
    <div class="card mb-2 center-div-horizontally" id="tenant-page-left-sm-card">
        <div class="card-horizontal d-flex align-items-center">
            <div class="my-2">
                <img class="rounded-circle" id="tenant-neighbors-img-sm" src="{{ asset('build/profiles/metiss.jpg') }}" alt="Card image cap">
            </div>
            <div class="card-body d-flex flex-column">
                <div class="tenant-card-content">
                    <p class="text-center"><span class="big-text-bold-sm">Karianne NICOLAS</span></p>
                    <hr>
                    <h3 class="regular-text"><i class="far fa-handshake mr-2"></i> Statut : <span class="badge badge-pill badge-success regular-text-low ml-2">A jour dans les paiements</span></h3>
                    <span class="regular-text"><i class="fas fa-file-signature mr-2"></i> Contrat : <span class="regular-text-low">En cours</span> </span> <br>
                    <span class="regular-text gray-text"><i class="fas fa-key mr-2"></i> Locataire depuis : <span class="regular-text-italic">24 Avril 2019</span></span>
                    <hr>
                    <p class="regular-text"><i class="fas fa-home mr-2"></i> Logement : <span class="regular-text-low">18 Avenue Baudelaire </span></p>
                    <p class="regular-text"><i class="far fa-credit-card mr-2"></i>  Echeance de paiement : </p>
                    <div class="progress mx-1" style="height: 10px;">
                        <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Computer section -->
<div class="col-lg-4 col-md-4 d-none d-lg-block bg-light mb-1" id="tenant-page-left">
    <div class="col-lg-12 d-flex justify-content-center py-3" id="tenant-page-left-up">
        <div class="card" id="tenant-card">
            {% if tenant.profilePictureFile is not null %}
                <img class="card-img-top border-top-0" src="{{ tenant.profilePictureFile }}" alt="Card image cap" style="height: 18rem">
            {% else %}
                <img class="card-img-top border-top-0" src="{{asset('build/profiles/profile-black.png')}}" alt="Card image cap" style="height: 18rem">
            {% endif %}
            <div class="card-body">
                <div class="tenant-card-content">
                    <p class="mt-2 text-center big-text-bold">{{ tenant.fullName|upper }}</p>
                    <hr>
                    <h3 class="regular-text"><i class="far fa-handshake mr-2"></i> Statut : <span class="badge badge-pill badge-success regular-text-low ml-2">A jour dans les paiements</span></h3>
                    <span class="regular-text"><i class="fas fa-file-signature mr-2"></i> Contrat : <span class="regular-text-low green-text">En cours</span> </span> <br>
                    <span class="regular-text gray-text"><i class="fas fa-key mr-2"></i> Locataire depuis : <span class="regular-text-italic">24 Avril 2019</span></span>
                    <hr>
                    <p class="regular-text"><i class="fas fa-home mr-2"></i> Logement : <span class="regular-text-low">18 Avenue Baudelaire </span></p>
                    <p class="regular-text"><i class="far fa-credit-card mr-2"></i>  Echeance de paiement : </p>
                    <div class="progress mx-3" style="height: 10px;">
                        <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Title -->
    <div class="text-center">
        <span class="big-text-bold">Vos voisins</span>
    </div>

    <!-- Neighbors section -->
    <div class="col-lg-12 py-3 center-div-horizontally" id="tenant-page-left-down">
        <div class="card mb-2 tenant-card-neighbors center-div-horizontally">
            <div class="card-horizontal d-flex align-items-center">
                <div class="ml-2 my-2">
                    <img class="rounded-circle tenant-neighbors-img" src="{{ asset('build/profiles/naomi-scott.jpg') }}" alt="Card image cap">
                </div>
                <div class="ml-3 card-body d-flex flex-column">
                    <span>Cassidy RHODES</span>
                    <span>status: deconnecté</span>
                    <span class="grey-text">Chambre : 07</span>
                </div>
            </div>
        </div>
        <div class="card mb-2 tenant-card-neighbors center-div-horizontally">
            <div class="card-horizontal d-flex align-items-center">
                <div class="ml-2 my-2">
                    <img class="rounded-circle tenant-neighbors-img" src="{{ asset('build/profiles/nemesis.png') }}" alt="Card image cap">
                </div>
                <div class="ml-3 card-body d-flex flex-column">
                    <span>Jade REGNAGY</span>
                    <span>status: deconnecté</span>
                    <span class="grey-text">Chambre : 02</span>
                </div>
            </div>
        </div>
        <div class="card mb-2 tenant-card-neighbors center-div-horizontally">
            <div class="card-horizontal d-flex align-items-center">
                <div class="ml-2 my-2">
                    <img class="rounded-circle tenant-neighbors-img" src="{{ asset('build/profiles/p-black.png') }}" alt="Card image cap">
                </div>
                <div class="ml-3 card-body d-flex flex-column">
                    <span>Balisa GATES</span>
                    <span>status: deconnecté</span>
                    <span class="grey-text">Chambre : 10</span>
                </div>
            </div>
        </div>
        <div class="card mb-2 tenant-card-neighbors center-div-horizontally">
            <div class="card-horizontal d-flex align-items-center">
                <div class="ml-2 my-2">
                    <img class="rounded-circle tenant-neighbors-img" src="{{ asset('build/profiles/p-black-2.png') }}" alt="Card image cap">
                </div>
                <div class="ml-3 card-body d-flex flex-column">
                    <span>Usabella VINCED</span>
                    <span>status: deconnecté</span>
                    <span class="grey-text">Chambre : 17</span>
                </div>
            </div>
        </div>
        <div class="card tenant-card-neighbors center-div-horizontally">
            <div class="card-horizontal d-flex align-items-center">
                <div class="ml-2 my-2">
                    <img class="rounded-circle tenant-neighbors-img" src="{{ asset('build/profiles/metiss.jpg') }}" alt="Card image cap">
                </div>
                <div class="ml-3 card-body d-flex flex-column">
                    <span>Brook DAVIS</span>
                    <span>status: deconnecté</span>
                    <span class="grey-text">Chambre : 04</span>
                </div>
            </div>
        </div>
    </div>
</div>



