<!-- Header homepage -->
<nav class="navbar  navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('home_page') }}">
        <img src="{{asset('build/images/logo.png')}}" width="35" height="35" class="d-inline-block align-top" alt="">
        <span id="logo-name" class="ml-2">Kloc-Intranet</span>
    </a>

    <div>
    {% if not is_granted('ROLE_USER') %}
    <a class="btn btn-outline-kloc-grey my-2 mr-3" href="{{ path('register_choice') }}">Inscription</a>
    <a class="btn btn-outline-kloc-indigo my-1 mr-4" href="{{ path('security_login') }}">Connexion</a>
    {% else %}
        <a class="btn btn-outline-kloc-header-user my-1 mr-3" href="#"> {{ app.user.fullName }}</a>
        <a class="btn btn-outline-kloc-grey my-2 mr-3" href="{{ path('security_logout') }}" >Deconnexion</a>
    {% endif %}
    </div>
</nav>